body {
    background: #222;
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: monospace;
}
#gameCanvas {
    display: block;
    margin: 0 auto;
    background: #1a1a1a;
    border: 2px solid #666;
    box-shadow: 0 5px 20px #000;
}
#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fafafa;
}
